html, body {
    margin: 0;
    padding: 0;
    size: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.logo-area {
    height: 100vh;
    width: 900px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/greenery.jpg);
    background-size: cover;
}

.logo {
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 100%;
    height: 150px;
    background-color:  rgba(0, 0, 0, 0.592);
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.logo::before {
    content: ' \01FC';
}

.form-area {
    width: 100% ;
    height: 100vh;
}

.form-header {
    display: flex;
    align-items: center;
    height: 230px;
    width: 100%;
    background-color: rgb(238, 237, 240);
    padding: 20px;
    font-size: 28px;
    color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    box-shadow: 5px 5px  5px rgb(216, 215, 215);
    height: 300px;
    overflow: hidden;
    width: 100%;
}

.page-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: fit-content;
}

.forms {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 25px;
}

.label {
    margin-top: 15px;
}

.form-title {
    margin-left: 25px;
    margin-bottom: 0;
}

.form-form {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.submit-btn {
    width: 150px;
    margin-left: 25px;
    margin-top: 35px;
    border: 0;
    border-radius: 8px;
    height: 40px;
    background: rgb(55, 104, 55);
    color: white;
}

.credit {
    align-self: center;
    justify-self: end;
    color: white;
    position: absolute;
    bottom: 0;
}