html, body {
    margin: 0;
    padding: 0;
    size: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo-area {
    height: 100vh;
    width: 900px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/greenery.jpg);
    background-size: cover;
}

.logo {
    font-size: 100px;
    color: white;
    width: 100%;
    height: 150px;
    background-color:  rgba(0, 0, 0, 0.592);
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-area {
    width: 100% ;
    height: 100vh;
}

.form-header {
    display: flex;
    height: 230px;
    width: 100%;
    background-color: rgb(238, 237, 240);
    padding: 20px;
    font-size: 40px;
    color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    box-shadow: 5px 5px  5px rgb(216, 215, 215);
    height: 200px;
    overflow: hidden;
}

.page-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: fit-content;
}

.forms {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 100px;
}

.forms-1 {
    margin: 0;
    padding: 0;
}

.form-title {
    margin-left: 100px;
}